TURING_API_BASE=https://kong.turing.com/api
TURING_API_KEY=your_api_key
TURING_API_GATEWAY_KEY=0c015800-dcba-448d-94bb-d01a56b0d22c
TURING_BASIC_AUTH=Basic your_base64_basic_auth
TURING_PROVIDER=openai
TURING_UPLOAD_MODULE=PLAYGROUND
TURING_MULTIMODAL_MODEL=gpt-4
TURING_TEXT_MODEL=gpt-4
APP_ENV=development
